* {
  box-sizing: border-box;
  margin: 0;
}
.layout {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  gap: 1rem;
}

aside {
  flex-basis: 160px;
  background-color: #f0f0ff;
}

article {
  flex-basis: 680px;
  flex-grow: 1;
  /* flex-shrink: 1; */
  background-color: #ffe0e0;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 10px;
  background-color: #f0f0f0;
}

.item {
  min-height: 200px;
  flex-basis: 200px;
  /* flex-shrink: 1; */
  flex-grow: 1;
}

.item:first-child {
  background-color: #add8e6;
}

.item:nth-child(2) {
  background-color: #ffa500;
}

.item:nth-child(3) {
  background-color: #a9a9a9;
}

.item:last-child {
  background-color: #ff7f4f;
}
